*.swp
bin/splint.exe
msi_installer/splint*.log
msi_installer/splint*.msi
msi_installer/splint*.wixobj
msi_installer/splint*.wixpdb
msvc/*/*.ncb
msvc/*/*.suo
msvc/*/*/*.user
msvc/msvc2008_splint/msvc2008_splint/Debug/*
msvc/msvc2008_splint/msvc2008_splint/Release/*

